:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --font-h: 'Fraunces', serif;
    --font-para: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--font-para);
    background-color: var(--Cream);
}

p {
    margin: 0;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 570px;
}

.card__lside .lside__desktop {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.card__rside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--White);
    border-radius: 0 10px 10px 0;
}

.card__rside .rside__title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
}

.card__rside .rside__des-price {
    display: flex;
    column-gap: 15px;
    align-items: center;
    color: var(--Dark-cyan);
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-h);
}

.card__rside .rside__price {
    color: grey;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-para);
}

.card__rside .rside__btn {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    background-color: var(--Dark-cyan);
    border: none;
    border-radius: 10px;
    color:var(--White);
    padding: 15px 30px;
    font-weight: 700;

}

.card__rside .rside__btn:hover {
    cursor: pointer;
    background-color: hsl(158, 35%, 48%);
}

.rside__title,
.rside__description {
    color: var(--Dark-grayish-blue);
    font-size: 14px;
}

.rside__description {
    line-height: 22px;
}

.rside__name {
    font-family: var(--font-h);
    font-weight: 700;
    font-size: 31px;
    line-height: 29px;
}

.lside__mobile {
    display: none;
}

@media (max-width: 675px) {
    body {
        height: unset;
    }

    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 260px auto;
        width: 355px;
    }

    .card__rside {
        row-gap: 15px;
        border-radius: 0 0 10px 10px;
    }

    .lside__desktop {
        display: none;
    }

    .lside__mobile {
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0; 
        display: unset;
    }
}


